<nav class="navbar navbar-expand navbar-dark">
  <a (click)="toggleSidebar()" class="mr-2 mt-1">
    <i class="fa fa-list" style="color: #e2e2e2"></i>
  </a>
  <a class="navbar-brand" href="#">Interactive ML</a>

  <div class="navbar-collapse justify-content-between">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/arnavvats/interactive-ml" style="color: #e2e2e2"><i class="fa fa-2x fa-github"></i></a>
      </li>
    </ul>
  </div>
</nav>
